Customer/Competec XML/Competec_OrderResponse_v1.0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="orderresponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message_header">
					<xs:complexType>
						<xs:attribute name="source" use="required">
							<xs:annotation>
								<xs:documentation>Name of sender party</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="test_flag" use="required">
							<xs:annotation>
								<xs:documentation>1 = Test, 0 = Productive</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="message_type" use="required" fixed="orderresponse">
							<xs:annotation>
								<xs:documentation>Name of the document</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="document_version_date" use="required">
							<xs:annotation>
								<xs:documentation>dd.mm.yyyy</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="document_version" use="required">
							<xs:annotation>
								<xs:documentation>Number of the document version</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="generation_date" use="required">
							<xs:annotation>
								<xs:documentation>Document generation date
dd.mm.yyyy</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="generation_time" use="required">
							<xs:annotation>
								<xs:documentation>Document generation time
hh:mm:ss</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="orderresponse_header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="order_reference">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BORN">
											<xs:annotation>
												<xs:documentation>Buyer Order Number</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BORD">
											<xs:annotation>
												<xs:documentation>Buyer Order Date
dd.mm.yyyy</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LPOC">
											<xs:annotation>
												<xs:documentation>Logistic Provider Order Company</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LPOT">
											<xs:annotation>
												<xs:documentation>Logistic Provider Order Type</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LORN">
											<xs:annotation>
												<xs:documentation>Logistic Provider Order Number</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="order_party">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="buyer_party">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="party_id">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LPAN" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Logistic Provider Adress Number</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ship_to_party">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="party_id">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LPAN" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Logistic Provider Adress Number</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="nameaddress">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PNA1">
																	<xs:annotation>
																		<xs:documentation>Party Name 1</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PNA2">
																	<xs:annotation>
																		<xs:documentation>Party Name 2</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PRFF" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Party Reference</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PSTR">
																	<xs:annotation>
																		<xs:documentation>Party Street</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PPOB">
																	<xs:annotation>
																		<xs:documentation>Party Postbox</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="41"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PCTY">
																	<xs:annotation>
																		<xs:documentation>Party City</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PPOC">
																	<xs:annotation>
																		<xs:documentation>Party Postal Code</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PCTR">
																	<xs:annotation>
																		<xs:documentation>Party Country</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="order_information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="additional_information">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CCOM" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Customer Commission</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CREF" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Customer Referenz</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ECUN" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Endcustomer Name for Special Bid
empty for standard orders</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LNGC">
														<xs:annotation>
															<xs:documentation>Language Code
(G= German)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SHCF">
														<xs:annotation>
															<xs:documentation>Ship complete Flag
(Y= yes, N= no)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SFDF">
														<xs:annotation>
															<xs:documentation>Ship Fixdate Flag
(Y= yes, N= no)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RDDT">
														<xs:annotation>
															<xs:documentation>Requested Delivery Date
dd.mm.yyyy</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CCNA" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Customer clerk name</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ITXT" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Introduction Text (Customer Information)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
                                                    <xs:element name="MSCT" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Message Counter (if UPDT=Y, value >=2)
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer"/>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="UPDT" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Update (whether this is an updated order
                                                                confirmation)
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Y"/>
                                                                <xs:enumeration value="N"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="orderresponse_body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="line_item_number" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BLIN">
											<xs:annotation>
												<xs:documentation>Buyer Line Item Number</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LLIN">
											<xs:annotation>
												<xs:documentation>Logistic Provider Line Item Number</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LPLT" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Logistic Provider Line Type</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="KHLN" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Kit Header Line Number</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal"/>
											</xs:simpleType>
										</xs:element>
										<xs:element name="part_number">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CITM" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Customer Item Number</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LITM">
														<xs:annotation>
															<xs:documentation>Logistic Provider Item Number</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MITM">
														<xs:annotation>
															<xs:documentation>Manufacturer Item Number</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="40"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="EITM">
														<xs:annotation>
															<xs:documentation>EAN Item Number</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="additional_line_information">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PTXT" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Position Text</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SBNR" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Special Bid Number agreed with Supplier</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CARC" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Carrier Code</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CARN" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Carrier Name</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="part_description">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DSC1">
														<xs:annotation>
															<xs:documentation>Item Description</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="43"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="quantities_dates">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="QUTY">
														<xs:annotation>
															<xs:documentation>Quantity</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="UOMQ">
														<xs:annotation>
															<xs:documentation>Unit of Measurement (Quantity)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LSTA" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Line Status</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DATY" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Date Type</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DATE" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Date Logistic Provider</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DACU" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Date Customer</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DNNR" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Delivery Note Number</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="INNR" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Invoice Number</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:integer"/>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="detail_quantity">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="QURE">
														<xs:annotation>
															<xs:documentation>Quantity Ready</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="QUOP">
														<xs:annotation>
															<xs:documentation>Quantity Open</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="QUDI" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Quantity Distributor</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal"/>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="pricing_details">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CURC" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Currency</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CPRC">
														<xs:annotation>
															<xs:documentation>Customer Unit net Price</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="TLPR">
														<xs:annotation>
															<xs:documentation>Total Line Price</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:decimal"/>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
