Customer/Competec XML/competec-order_v2.4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.4.0">
	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message_header" maxOccurs="1" minOccurs="1">
					<xs:complexType>
						<xs:attribute name="source" use="required">
							<xs:annotation>
								<xs:documentation>Name of sender party</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="destination" type="xs:integer" use="required">
							<xs:annotation>
								<xs:documentation>Destination Code: 10 = Brack Electronics, 20 = Alltron, 70 = Jamei</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="accesscode" use="required">
							<xs:annotation>
								<xs:documentation>Personal Access Code</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="test_flag" use="required">
							<xs:annotation>
								<xs:documentation>1 = Test, 0 = Productive</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="message_type" use="required" fixed="order">
							<xs:annotation>
								<xs:documentation>Name of the document</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="document_version_date" use="required">
							<xs:annotation>
								<xs:documentation>dd.mm.yyyy</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="document_version" use="required">
							<xs:annotation>
								<xs:documentation>Number of the document version</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="generation_date" use="required">
							<xs:annotation>
								<xs:documentation>Document generation date dd.mm.yyyy</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="generation_time" use="required">
							<xs:annotation>
								<xs:documentation>Document generation time hh:mm:ss</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="eMail_confirmation" use="required">
							<xs:annotation>
								<xs:documentation>e-mail address for sending order confirmation</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="order_header" maxOccurs="1" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="order_reference" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BORN" minOccurs="1" maxOccurs="1" type="String90">
											<xs:annotation>
												<xs:documentation>Buyer Order Number</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="BORD" type="String10" minOccurs="1" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Buyer Order Date format: dd.mm.yyyy</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="order_party" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="buyer_party" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="party_id" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LPAN" minOccurs="1" maxOccurs="1" type="String10">
																	<xs:annotation>
																		<xs:documentation>Buyer Party Number</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ship_to_party" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="party_id" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LPAN" minOccurs="1" maxOccurs="1" type="String10">
																	<xs:annotation>
																		<xs:documentation>Ship to Party Number</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="name_address" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PNA1" minOccurs="1" maxOccurs="1" type="String50">
																	<xs:annotation>
																		<xs:documentation>Party	Name 1</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PNA2" type="String50" minOccurs="0" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Party Name 2</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PNA3" minOccurs="0" maxOccurs="1" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Party Name 3</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PRFF" minOccurs="0" maxOccurs="1" type="String50">
																	<xs:annotation>
																		<xs:documentation>Party Reference</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PSTR" type="String50" minOccurs="1" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Party Street</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PPOB" type="String50" minOccurs="0" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Party Postbox</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PCTY" type="String50" minOccurs="1" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Party City</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PPOC" type="String30" minOccurs="1" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Party Postal Code</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PCTR" minOccurs="0" maxOccurs="1" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Party Country</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="order_information" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="additional_information" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CCOM" minOccurs="0" maxOccurs="1" type="String50">
														<xs:annotation>
															<xs:documentation>Customer Phone Number</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CREF" minOccurs="0" maxOccurs="1" type="String100">
														<xs:annotation>
															<xs:documentation>Customer Reference</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ECUN" minOccurs="0" maxOccurs="1" type="xs:string">
														<xs:annotation>
															<xs:documentation>Endcustomer Name for Special Bid, empty for standard orders</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="LNGC" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>Language Code (G = German, F = French)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1"/>
																<xs:enumeration value="G"/>
																<xs:enumeration value="F"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SHCF" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>Ship complete Flag (Y= yes, N= no, M= multiple shipments)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="String1">
																<xs:enumeration value="Y"/>
																<xs:enumeration value="N"/>
																<xs:enumeration value="M"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SFDF" minOccurs="0" maxOccurs="1" type="xs:string">
														<xs:annotation>
															<xs:documentation>Ship Fixdate Flag (Y = yes, N = no)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="RDDT" minOccurs="0" maxOccurs="1" type="String10">
														<xs:annotation>
															<xs:documentation>Requested Delivery Date. Format: dd.mm.yyyy</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CCNA" minOccurs="0" maxOccurs="1" type="String100">
														<xs:annotation>
															<xs:documentation>Customer clerk name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CARC" minOccurs="0" maxOccurs="1" type="xs:integer">
														<xs:annotation>
															<xs:documentation>Carrier Code 0 = As agreed(Standard) / Other options on request</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ITXT" minOccurs="0" maxOccurs="1" type="String100">
														<xs:annotation>
															<xs:documentation>Introduction Text (Customer Information)</xs:documentation>
														</xs:annotation>
													</xs:element>
                                                    <xs:element name="HAIN" minOccurs="0" maxOccurs="1" type="String100">
                                                        <xs:annotation>
                                                            <xs:documentation>Handling Instructions (Value Added Services). Might delay the processing</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="order_body" maxOccurs="1" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="line_item_number" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BLIN" minOccurs="1" maxOccurs="1" type="xs:int">
											<xs:annotation>
												<xs:documentation>Buyer Line Item Number</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="part_number" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LITM" type="xs:int" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>Supplier Item Number</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="MITM" minOccurs="0" maxOccurs="1" type="String40">
														<xs:annotation>
															<xs:documentation>Manufacturer Item Number</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="additional_line_information" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PTXT" minOccurs="0" maxOccurs="1" type="String250">
														<xs:annotation>
															<xs:documentation>Position Text</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SBNR" minOccurs="0" maxOccurs="1" type="xs:string">
														<xs:annotation>
															<xs:documentation>Special Bid Number agreed with Supplier</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="EUEA" minOccurs="0" maxOccurs="1" type="xs:string">
														<xs:annotation>
															<xs:documentation>Endcustomer eMail</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="EUCN" minOccurs="0" maxOccurs="1" type="xs:string">
														<xs:annotation>
															<xs:documentation>Endcustomer Company Name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="LREF" type="String100" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>Line Reference</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CCTR" type="String100" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>Cost Center</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="quantity" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="quantity_value" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="OQTY" minOccurs="1" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Quantity pcs</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:int">
																			<xs:minInclusive value="1">
																			</xs:minInclusive>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="price" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="UPRC" minOccurs="1" maxOccurs="1" type="xs:double">
														<xs:annotation>
															<xs:documentation>Price per item net</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="String30">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String50">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String100">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String40">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String250">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String3">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String15">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String90">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>